In [6]:
import pandas as panda
import numpy

colunas = {'star_rating':str, 'title':str, 'content_rating':str, 'genre':str, 'duration':float, 'actors_list':str}
analiseFilmes = panda.read_csv("C:\GIT\DataScience\Datasets\movies.csv", header=0, names=colunas)
analiseFilmes.head(5)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [7]:
analiseFilmes.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [12]:
#EXPLORANDO SERIES NAO NUMERICAS

#a gente pode utilizar o describe por coluna
analiseFilmes.genre.describe()

count       979
unique       16
top       Drama
freq        278
Name: genre, dtype: object

In [14]:
#Value_counts - funciona de forma parecida com o groupby

analiseFilmes.genre.value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Thriller       5
Sci-Fi         5
Film-Noir      3
Family         2
Fantasy        1
History        1
Name: genre, dtype: int64

In [15]:
#Value_counts - normalize - exibindo por porcetagem

analiseFilmes.genre.value_counts(normalize=True)

Drama        0.283963
Comedy       0.159346
Action       0.138917
Crime        0.126660
Biography    0.078652
Adventure    0.076609
Animation    0.063330
Horror       0.029622
Mystery      0.016343
Western      0.009193
Thriller     0.005107
Sci-Fi       0.005107
Film-Noir    0.003064
Family       0.002043
Fantasy      0.001021
History      0.001021
Name: genre, dtype: float64

In [16]:
#Unique - dados que nao se repetem

analiseFilmes.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [17]:
#Nunique - quantidade dos valoes unicos

analiseFilmes.genre.nunique()

16

In [18]:
#Crosstab - cruzando dados/informações informando a frequencia que elas ocorrem

panda.crosstab(analiseFilmes.genre, analiseFilmes.star_rating)

star_rating,7.4,7.5,7.6,7.7,7.8,7.9,8.0,8.1,8.2,8.3,8.4,8.5,8.6,8.7,8.8,8.9,9.0,9.1,9.2,9.3
genre,,,,,,,,,,,,,,,,,,,,
Action,4,10,25,18,21,11,10,12,4,7,4,3,2,2,2,0,1,0,0,0
Adventure,7,6,6,5,9,5,12,7,2,8,3,1,0,1,2,1,0,0,0,0
Animation,2,4,6,8,9,6,9,4,5,3,3,2,1,0,0,0,0,0,0,0
Biography,3,8,12,8,11,9,6,8,5,2,1,1,1,1,0,1,0,0,0,0
Comedy,15,14,23,25,20,9,12,14,8,4,6,3,3,0,0,0,0,0,0,0
Crime,4,20,13,15,12,9,8,15,7,3,8,2,2,2,0,1,0,1,1,1
Drama,12,34,30,29,28,21,32,36,16,12,11,7,3,4,1,2,0,0,0,0
Family,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Fantasy,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
History,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
Horror,1,7,6,2,2,1,5,0,2,0,0,2,1,0,0,0,0,0,0,0
Mystery,1,3,1,0,1,1,0,4,1,1,1,1,1,0,0,0,0,0,0,0
Sci-Fi,0,0,0,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0
Thriller,0,2,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
Western,0,0,1,0,0,1,0,2,0,2,0,1,1,0,0,1,0,0,0,0

In [22]:
# logica dos filtros

#dataFrame[(dataframe.coluna - comparação)
analiseFilmes[(analiseFilmes.star_rating >= 9.3)]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."